# Google OAuth Credentials
GOOGLE_CLIENT_ID=your_google_client_id
GOOGLE_CLIENT_SECRET=your_google_client_secret

# Google Maps API Key
NEXT_PUBLIC_GOOGLE_MAPS_API_KEY=your_google_maps_api_key


# AWS Variables, most of them are already set by default in code when empy is provided so is optional to set them here.

# AWS Region (optional, defaults to us-east-1)
#AWS_REGION=us-east-1

# DynamoDB Table Prefixes (optional, defaults provided)
#SPEAKER_APPLICATION_TABLE_PREFIX=SpeakerApplication
#NOTIFICATION_TABLE_PREFIX=Notification
#USER_TABLE_PREFIX=User
#TALK_PROPOSAL_TABLE_PREFIX=TalkProposal

# Email configuration
#SENDER_EMAIL=no-reply@awspuebla.foor.dev


# Testing environment variables
# Use these values when develop locally but they need more aditional steps. You can continue without save them.

# Development environment variables
# NODE_ENV=development

# For ngrok testing - set to true when using ngrok
# ENABLE_NGROK_MODE=false

# NextAuth configuration
# NEXTAUTH_URL=http://localhost:3000


