# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.

# dependencies
/node_modules
/.pnp
.pnp.*
.yarn/*
!.yarn/patches
!.yarn/plugins
!.yarn/releases
!.yarn/versions
.vscode/
.kiro/

# testing
/coverage
test-results/
playwright-report/
.playwright/

# next.js
/.next/
/out/

# production
/build

# misc
.DS_Store
*.pem

# debug files
debug-*.png
debug-*.jpg
temp_*.ts
temp_*.tsx
temp_*.js

# debug
npm-debug.log*
yarn-debug.log*
yarn-error.log*
.pnpm-debug.log*

# env files (can opt-in for committing if needed)
.env*

# vercel
.vercel

# typescript
*.tsbuildinfo
next-env.d.ts


# amplify
node_modules
.amplify
amplify_outputs*
amplifyconfiguration*


# kiro
kiro-output/
kiro-state.json
kiro-logs/
.kiro/specs
.kiro

# diagrams
/generated-diagrams
chat.md
awspuebla-connect-roadmap',_show=false).png

# docs
docs/

# testing Jest
jest.config.js
jest.setup.js
jest-setup.ts

data-testing/